<div id="<%= dom_id buddy %>">
  <p>
    <strong>First name:</strong>
    <%= buddy.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= buddy.last_name %>
  </p>

  <p>
    <strong>Phone num:</strong>
    <%= buddy.phone_num %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= buddy.github %>
  </p>

</div>
