  <tbody>
    <td><%= buddy.first_name %></td>
    <td><%= buddy.last_name %></td>
    <td><%= buddy.phone_num %></td>
    <td><%= buddy.github %></td>    
    <td><%= link_to "Show this buddy", buddy %></td>      
  </tbody>
