<%= form_with(model: buddy) do |form| %>
  <% if buddy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(buddy.errors.count, "error") %> prohibited this buddy from being saved:</h2>

      <ul>
        <% buddy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :phone_num, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :github, class:"form-control", placeholder:"Github"%>
  </div>

  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
